<!--================= sidebar  ================-->
<div class="col-md-4">
    <div class="sidebar">
        <!-- widget -->
        <div class="widget">
            <div class="searh-holder">
                <form action="#" class="searh-inner">
                    <input name="se" id="se" type="text" class="search" placeholder="Search.." value="{{ site.translations.search }}" />
                    <button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
                </form>
            </div>
        </div>
        <!-- widget -->
        <div class="widget">
            <h3>{{ site.translations.last_articles }}</h3>
            <ul class="widget-posts">
                <li class="clearfix">
                    <a href=""  class="widget-posts-img"><img src="/assets/images/bg/39.jpg" class="respimg" alt=""></a>
                    <div class="widget-posts-descr">
                        <a href="#" title="">Vivamus dapibus rutrum</a>
                        <span class="widget-posts-date"> 21 Mar 09.05 </span>
                    </div>
                </li>
                <li class="clearfix">
                    <a href=""  class="widget-posts-img"><img src="/assets/images/bg/40.jpg" class="respimg" alt=""></a>
                    <div class="widget-posts-descr">
                        <a href="#" title=""> Integer sagittis</a>
                        <span class="widget-posts-date"> 7 Mar 18.21 </span>
                    </div>
                </li>
                <li class="clearfix">
                    <a href=""  class="widget-posts-img"><img src="/assets/images/bg/41.jpg" class="respimg" alt=""></a>
                    <div class="widget-posts-descr">
                        <a href="#" title="">In porta sem</a>
                        <span class="widget-posts-date"> 7 Mar 16.42 </span>
                    </div>
                </li>
                <li class="clearfix">
                    <a href=""  class="widget-posts-img"><img src="/assets/images/bg/42.jpg" class="respimg" alt=""></a>
                    <div class="widget-posts-descr">
                        <a href="#" title="">Praesent aliquet tortor</a>
                        <span class="widget-posts-date"> 2 Mar 14.42 </span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- widget -->
        <div class="widget">
            <h3>{{ site.translations.articles_categories }}</h3>
            <div class="clearfix"></div>
            <ul class="tagcloud">
                <li><a href='#' class="transition link">Portfolio</a></li>
                <li><a href='#' class="transition link">Tag</a></li>
                <li><a href='#' class="transition link">Demo</a></li>
                <li><a href='#' class="transition link">Blog</a></li>
                <li><a href='#' class="transition link">Photography</a></li>
                <li><a href='#' class="transition link">Web desighn</a></li>
            </ul>
        </div>
        <div class="widget">
            <h3>{{ site.translations.sponsors }}</h3>
            <div class="clearfix"></div>
            <img src="/assets/images/bg/banner.jpg" alt="" class="respimg">
        </div>

    </div>
</div>
<!-- end sidebar -->